mixin customers
	.customers
		.customers__top
			.customers__top_content
				h2.customers__top_title All Customers
				a.customers__top_subtitle(href="#") Active Members
			form.customers__form
				+form_input({
					label_class: 'customers__form_label',
					class: 'customers__form_element',
					block_class: 'customers__form_input',
					type: 'search',
					label: '',
					placeholder: 'Search',
					value: '',
					id: 'search',
					})
				button.customers__search(type='submit' aria-label='search')
					+icon('search', 'icon--size_mod')
		ul.costumers__wrapper
			li.costumers__wrapper_list
				ul.costumers__row.costumers__row--mod
					each title in sample_var
						li.costumers__row_title= title
			each item in sample_array
				li.costumers__wrapper_list
					ul.costumers__row(class= item.mod)
						li.costumers__row_item
							a.costumers__row_item_link(href="#")= item.name
						li.costumers__row_item
							a.costumers__row_item_link(href="#")= item.company
						li.costumers__row_item
							a.costumers__row_item_link(href=item.phone.href)= item.phone.title
						li.costumers__row_item.costumers__row_item--mod
							a.costumers__row_item_link(href=item.email.href)= item.email.title
						li.costumers__row_item
							a.costumers__row_item_link(href="#")= item.country
						li.costumers__row_item.costumers__row_item--position_mod
							if item.active
								.costumers__row_item_status.costumers__row_item_status--active= item.active
							if item.inactive
								.costumers__row_item_status.costumers__row_item_status--inactive= item.inactive

		ul.costumers__wrapper_mobile_list
			each itemMob in mobile_array
				li.costumers__mobile_item
					ul.costumers__row_mobile_list
						li.costumers__row_mobile_item
							.costumers__row_title= itemMob.name.value
							a.costumers__row_item_link(href="#")= itemMob.name.title
						li.costumers__row_mobile_item
							.costumers__row_title= itemMob.company.value
							a.costumers__row_item_link(href="#")= itemMob.company.title
						li.costumers__row_mobile_item
							.costumers__row_title= itemMob.phone.value
							a.costumers__row_item_link(href=itemMob.phone.href)= itemMob.phone.title
						li.costumers__row_mobile_item
							.costumers__row_title= itemMob.email.value
							a.costumers__row_item_link(href=itemMob.email.href)= itemMob.email.title
						li.costumers__row_mobile_item
							.costumers__row_title= itemMob.country.value
							a.costumers__row_item_link(href="#")= itemMob.country.title
						li.costumers__row_mobile_item
							.costumers__row_title= itemMob.status.value
							if itemMob.status.active == 'true'
								.costumers__row_item_status.costumers__row_item_status--active= itemMob.status.title
							if itemMob.status.active == 'false'
								.costumers__row_item_status.costumers__row_item_status--inactive= itemMob.status.title


		.costumers__navigator
			.costumers__navigator_text Showing data 1 to 8 of  256K entries
			.costumers__navigator_wrapper
				a.costumers__navigator_arrow.costumers__navigator_arrow--prev_mod(href="#")
					+icon( 'arrow_sidebar', 'icon--size_mod')
				ul.costumers__navigator_dots
					each number in number_array
						li.costumers__navigator_dots_item
							a.costumers__navigator_dots_link(href="#")= number
				a.costumers__navigator_arrow(href="#")
					+icon( 'arrow_sidebar', 'icon--size_mod')
